---
title: Mini Transat 2019 - Matthieu Perraut - Le BLOG
---
<div class="main-body" id="blog-background">
  <div class="fb-page" data-href="https://www.facebook.com/Mini825MatthieuPerraut/" data-tabs="timeline" data-width="500" data-height="700" data-small-header="false" data-adapt-container-width="true" data-hide-cover="false" data-show-facepile="true"><blockquote cite="https://www.facebook.com/Mini825MatthieuPerraut/" class="fb-xfbml-parse-ignore"><a href="https://www.facebook.com/Mini825MatthieuPerraut/">Matthieu Perraut - Mini Transat 2019</a></blockquote></div>
</div>
